{%extends 'Base/BaseTable.html'%}



{% block cardTitle %}
    <h3 class="card-title">Membros</h3>
{% endblock cardTitle %}

{% block botaoAdd %}
    <div class="ml-4 input-group-append">
        <button type="submit" class="btn btn-default " data-toggle="tooltip" data-placement="top" title="Cadastrar Nova Entrada">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
{% endblock botaoAdd %}
          
{% block thead %}
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email(R$)</th>
        <th><th>
        <th></th>
    </tr>
{% endblock thead %}
              
           
{% block tbody %}
{%for i in members%}
<tr>
  <td>{{i.id}}</td>
  <td>{{i.fullName}}</td>
  <td>{{i.cpf}}</td>
  <td>{{i.email}}</td>
  <td><a href="{%url 'member:emitirCarta' i.id 'Recomendação' %}" type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Carta de recomendação">
    <i class="fa-solid fa-envelope"></i>  
  </a></td>
  <td><a href="{%url 'member:emitirCarta' i.id 'Mudança' %}" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Carta de mudança">
    <i class="fa-solid fa-envelope-open-text"></i>  </a></td>
</tr>


{%endfor%}
{% endblock tbody %}
            



