{% extends 'Base/BaseAdmin.html' %}
{%load static%}
{% load crispy_forms_tags%}
{%block addLink%}
  
{%endblock addLink%}



{%block content%}
<div class="row">
    <!-- left column -->
    <div class="col-12 col-sm-12 col-md-9">
      <!-- general form elements -->
      <div class="card card-lightblue">
        <div class="card-header">
          <h3 class="card-title">          
            <a href="{%url 'member:list' %}">
              <i class="fa-solid fa-arrow-left"></i>
            </a>
            Dados de : {{form.fullName.value}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST">
          {% csrf_token %}
         
          
          <div class="card-body">
            
            <div class="row">
                <div class="col-lg-8 form-group">
                    {{form.fullName|as_crispy_field}}
                </div>
                <div class="col-lg-4 form-group">
                  {{form.email|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 form-group">
                  {{form.cpf|as_crispy_field}}
                </div>
                <div class="col-lg-2 form-group">
                  {{form.phone|as_crispy_field}}
                </div>
                <div class="col-lg-2 form-group">
                  {{form.born|as_crispy_field}}
              </div>
                <div class="col-lg-5 form-group">
                  {{form.adress|as_crispy_field}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-1 form-group">
                  {{form.number|as_crispy_field}}
                </div>
                <div class="col-lg-4 form-group">
                  {{form.city|as_crispy_field}}
                </div>
                <div class="col-lg-1 form-group">
                  {{form.state|as_crispy_field}}
                </div>
                <div class="col-lg-3 form-group">
                    {{form.district|as_crispy_field}}
                </div>
                <div class="col-lg-1 form-check">
                  {{form.genre|as_crispy_field}}
                </div>
                <div class="col-lg-2 form-group">
                        {{form.upload|as_crispy_field}}
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-4 form-check">
                   {{form.is_baptized_water|as_crispy_field}}
                  </div>
                  <div class="col-lg-4 form-check">
                    {{form.is_baptized_holySpirit|as_crispy_field}}
                  </div>
                  <div class="col-lg-4 form-check">
                    {{form.is_tither|as_crispy_field}}
                  </div>
                  
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn bg-lightblue">Editar Dados</button>
            <a  href="{%url 'member:remove' id %}" class="areSure btn bg-danger">Remover</a>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>

    <div class="col-md-3">

        <!-- Profile Image -->
        <div style="height: 75Vh;" class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="{%static 'dist/img/user1-128x128.jpg' %}"
                   alt="">
            </div>

            <h3 class="profile-username text-center">Joao Vitor</h3>


            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <a href="#" class="btn bg-success btn-block"><b>Carta de Recomendação</b></a>
            </li>
              <li class="list-group-item">
                <a href="#" class="btn bg-lightblue btn-block"><b>Carta de Mudança</b></a>
            </li>
              <li class="list-group-item">
                <a href="#" class="btn bg-danger btn-block"><b>Remover</b></a>
            </li>
            </ul>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

</div>
      <!-- /.card -->

{%endblock content%}

{%block addScript%}
<script>
  {%for msg in messages%}
  swal({
    title: "{{msg}}",
    icon: "success",
    timer: 3000,
    button: "ok"})
  {%endfor%}

  $(document).on('click', '.areSure', function(e){
    var form = document.getElementById("form-this")
    return confirm("Tem certeza que quer deletar ?")
  }); 
  

</script>
{%endblock addScript%}