{% extends 'Base/BaseAdmin.html' %}
{% load crispy_forms_tags%}

{%load static%}

{%block addLink%}
  
{%endblock addLink%}



{%block content%}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-lightblue">
        <div class="card-header">
          <h3 class="card-title">Dados da Igreja</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST">
            {% csrf_token %}
          <div class="card-body">
            <div class="row">
                <div class="col-lg-4 form-group">
                    {{form.name|as_crispy_field}}

                </div>
                <div class="col-lg-4 form-group">
                    {{form.ministery |as_crispy_field}}

                </div>
                <div class="col-lg-4 form-group">
                    {{form.email |as_crispy_field}}
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-3 form-group">
                    {{form.cnpj |as_crispy_field}}
                </div>
                <div class="col-lg-3 form-group">
                    {{form.phone |as_crispy_field}}

                </div>
               
                <div class="col-lg-6 form-group">
                    {{form.adress |as_crispy_field}}

                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-1 form-group">
                    {{form.number |as_crispy_field}}

                </div>
                <div class="col-lg-4 form-group">
                    {{form.city |as_crispy_field}}

                </div>
                <div class="col-lg-3 form-group">
                    {{form.state |as_crispy_field}}

                </div>
                <div class="col-lg-4 form-group">
                    {{form.district |as_crispy_field}}

                </div>
                
                
            </div>
            
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn bg-lightblue">Editar Campos</button>
          </div>
        </form>
      </div>
    </div>


</div>
      <!-- /.card -->

  
{%endblock content%}

{% block  addScript %}
  <script src="{% static '/js/scripts.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/js/jquery.mask.min.js' %}"></script>
  <script src="{% static '/js/scripts.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>
      {% for msg in messages%}
      {% if msg.tags == "message-sucess" %}
      swal({
       title: "{{msg}}",
       icon: "success",
       timer: 3000,
       button: "ok"}).then((value) => {
        window.location="{%url 'church:profile'  %}";
      });
      

      {% endif %}

      {% endfor %}
      

      $(document).on('click', '.areSure', function(e){
        var form = document.getElementById("form-this")
        return confirm("Tem certeza que alterar os dados da empresa? ?")
      });
  </script>
  <script>
    
    document.getElementById('meuCarrossel').on('slid.bs.carousel', function () {
      var currentSlide = $('#meuCarrossel div.active').index();
      sessionStorage.setItem('lastSlide', currentSlide);   
      });

      if(sessionStorage.lastSlide){
        $("#meuCarrossel").carousel(sessionStorage.lastSlide*1);
      }
    
  </script>
{% endblock addScript %}