{% extends 'Base/BaseAdmin.html' %}
{%load static%}
{%block addLink%}
  
{%endblock addLink%}



{%block content%}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-lightblue">
        <div class="card-header">
          <h3 class="card-title">Dados da Igreja</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
          <div class="card-body">
            <div class="row">
                <div class="col-lg-8 form-group">
                    <label for="exampleInputEmail1">Nome e ministério</label>
                    <input type="input" class="form-control" id="exampleInputName" placeholder="Assembleia de Deus: missão">
                </div>
                <div class="col-lg-4 form-group">
                    <label for="exampleInputEmail1">Endereço de Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="admisao@gmail.com">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 form-group">
                    <label for="exampleInputEmail1">CNPJ</label>
                    <input type="input" class="form-control" id="exampleCPFEmail1" placeholder="">
                </div>
                <div class="col-lg-3 form-group">
                    <label for="exampleInputEmail1">Telefone</label>
                    <input type="phone" class="form-control" id="exampleCPFEmail1" placeholder="(89) 999887755">
                </div>
               
                <div class="col-lg-6 form-group">
                    <label for="exampleInputEmail1">Endereço</label>
                    <input type="input" class="form-control" id="exampleCPFEmail1" placeholder="Av Sete de Setembro">
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-1 form-group">
                    <label for="exampleInputEmail1">Nº</label>
                    <input type="number" class="form-control" id="exampleCPFEmail1" placeholder="1">
                </div>
                <div class="col-lg-4 form-group">
                    <label for="exampleInputEmail1">Cidade</label>
                    <input type="input" class="form-control" id="exampleCPFEmail1" placeholder="Fronteiras">
                </div>
                <div class="col-lg-3 form-group">
                    <label for="exampleInputEmail1">Estado</label>
                    <input type="input" class="form-control" id="exampleCPFEmail1" placeholder="PI">
                </div>
                <div class="col-lg-4 form-group">
                    <label for="exampleInputEmail1">Bairro</label>
                    <input type="input" class="form-control" id="exampleCPFEmail1" placeholder="Centro">
                </div>
                
                
            </div>
            
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn bg-lightblue">Editar Campos</button>
          </div>
        </form>
      </div>
    </div>


</div>
      <!-- /.card -->

  
{%endblock content%}