{%extends 'Base/BaseTable.html'%}

{% block cardTitle %}
    <h3 class="card-title">Saídas</h3>
{% endblock cardTitle %}

{% block botaoAdd %}
    <div class="ml-4 input-group-append">
        <a href="{%url 'spent:register'%}" type="button" class="btn btn-default "  data-toggle="tooltip" data-placement="top" title="Cadastrar Nova Entrada">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>

{% endblock botaoAdd %}
          
{% block thead %}
    <tr>
        <th>Date</th>
        <th>Valor(R$)</th>
        <th>Ocasião</th>
        <th></th>
        <th></th>
    </tr>
{% endblock thead %}
              
           
{% block tbody %}
    {%for i in spents%}
        <tr>
        <td>{{i.date}}</td>
        <td><span class="tag tag-success">R$ {{i.value}}</span></td>
        <td>{{i.ocassion}}</td>
        <td><a href="{%url 'spent:delete' i.id %}" name='delete' type="button" class="areSure btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir">
            <i class="fa-solid fa-trash-can"></i>
        </a></td>
        <td><a href="{%url 'spent:edit' i.id %}"  class=" btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar">
            <i class="fa-solid fa-pen-to-square"></i>
        </a></td>
        </tr>

    {%endfor%}
{% endblock tbody %}
            


